<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React + Node.js App</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css'>
    <%- styleTags %>
  </head>
  <body>
    <div id="root"><%- component %></div>
    <script>
      window.__PRELOADED_STATE__ = <%- preloadedState %>
    </script>
    <%- scriptTags %>
  </body>
</html>
